- let siteName = 'Custom Boilerplate Frontend'
- let pageTitle = 'Inicio'
- let pageDescription = 'Descripción de mi sitio web'
- let pageKeywords = "Palabras clave, del sitio web"
- let pageImage = 'Imagen del sitio web' 
- let pageDescriptionSeo = 'Descripción SEO'
- let pageUrl = 'https://'
- let assets = 'images'

-
    let pages = [
        {
            title: 'Inicio',
            url: '/'
        }, 
        {

            title: '...',
            url: '...html',
            child: [
                {
                    title: '...',
                    url: '...'
                }
            ]
        },
        {
            title: '...',
            url: '...html'
        },
        {
            title: '...',
            url: '...html'
        },
        {
            title: '...',
            url: '...html'
        },
        {
            title: '...',
            url: '...html'
        }
    ]
